html{
    font-size: 12px;
    background: url(img/background.jpg);
    background-size: cover;
}

.headingTitle h1{
    color: white;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 700;
    background-color: teal;
    text-transform: uppercase;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*CLASE llave principal Y llaves*/
.llavePrincipal{
    display: flex;
    color: #ffffff;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*Permite que el texto se establezca en el centro de la pagina*/
}