@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap');

html{
    font-size: 12px;
    background: url(img/background.jpg);
    background-size: cover;
}

/*Barra de inicio start*/
.barra-inicio{
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}

.barra-inicio .nombre-empresa{
    padding: 0 25px;
}

.barra-inicio .nombre-empresa h1{
    font-family: 'Raleway';
    font-size: 30px;
    letter-spacing: 1.5;
    color:crimson;
    font-weight: 900;
    text-transform: uppercase;
}

/*Barra de inicio final*/


.row{
    display: flex;
    flex-wrap: wrap;
}

/*Titulo inicial start*/
.titulo-inicial .row{
    min-height: 50vh;
}

.titulo-inicial .headingTitle{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.titulo-inicial .headingTitle h1{
    font-family: 'Raleway';
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
/*Titulo inicial final*/

/*alinear elementos al centro start*/
.alinear-elementos-centro{
    align-items: center;
}
/*alinear elementos al centro final*/

/*botones start*/
.botones-sonidos .llavePrincipal{
    display: flex;
    flex: 1;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
}

    /*Esta parte es muy importante ya que da al texto la forma de botones*/
.botones-sonidos .llave{
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    border: .4rem solid black;
    border-radius: .7rem;
    margin: 2rem;
    padding: 1.2rem .5rem;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 .5rem black;
    width: auto;
}

kbd{
    display: block;
    font-size: 4rem;
}

.sound{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: crimson;
}
/*botones final*/


